@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "SF Pro Display";
}

body {
  background-color: var(--body-color);
  font-family: "SF Pro Display";
}

.container {
  margin: auto;
  /* padding: 0px 300px; */
  padding: 0px 15vw;
}
@media screen and (max-width: 1340px) {
  .container {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 930px) {
  .container {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 460px) {
  .container {
    padding: 0px 10px;
  }
}
::placeholder {
  font-family: "SF Pro Display";
}

header {
  width: 100%;
  height: 90vh;
  background: linear-gradient(to right, #729affb0, rgba(48, 75, 143, 0.699)),
    url(../images/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.navbar .nav-wrapper {
  margin: auto;
}
.eyebrow-headline {
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  color: white;
  display: inline-block;
}
.brand-logo {
  width: 100px;
  height: 100px;
}
.nav-wrapper .content-left {
  margin-top: 150px;

  max-width: 400px;
  min-width: 350px;
}

.nav-wrapper .content-left .header-small {
  font-size: 30px;
  line-height: 110%;
  margin-bottom: 10px;
  color: white;
}
.nav-wrapper .content-left .heading {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  /* line-height: 4vw; */
  color: #ffffff;
  /* max-width: 30vw; */
}

.nav-wrapper .content-left .header span {
  font-style: normal;
  font-weight: 600;
  font-size: 3vw;
  line-height: 4vw;
  color: #094dfbd9;
  max-width: 30vw;
}

.form-group {
  display: flex;
  margin-top: 50px;
  align-items: center;
  position: relative;
}

.form-field {
  display: block;
  width: 100%;
  height: 50px;
  padding: 8px 20px;
  line-height: 25px;
  font-size: 14px;
  background: #ffffff;
  border: none;
  border-radius: 30px;
}

.early-btn {
  display: flex;
  border: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 20px;
  width: 153px;
  height: 50px;
  /* font-weight: 600; */
  border-radius: 30px;
  background: #eb5757;
  color: white;
  position: absolute;
  right: 0;
  transition: all ease 300ms;
}
.early-btn:hover {
  cursor: pointer;
  background: #d34c4c;
}

.nav-wrapper .content-main {
  position: relative;
}

.nav-wrapper .content-main .content-right {
  position: absolute;
  right: 0;
  top: -50%; /* center of the flexed item */
  width: 360px;
  z-index: 2;
}
.content-right img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.waves {
  position: absolute;
  z-index: 1;
  bottom: -10px;
}
.pin-icon {
  height: 30px;
  position: absolute;
  bottom: 9vw;
  left: 30%;
}
.waves .wave {
  width: 100%;
}

/* tablet */
@media screen and (max-width: 1045px) {
  .nav-wrapper .content-left .header-small {
    font-size: 25px;
  }
  .nav-wrapper .content-left .heading {
    font-size: 55px;
  }
  .nav-wrapper .content-main .content-right {
    width: 300px;
  }
}
/* phone */
@media screen and (max-width: 930px) {
  .content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-wrapper .content-left {
    margin-top: 50px;
  }
  .content-left {
    text-align: center;
  }
  .content-right {
    position: static !important;
    margin-top: 30px;
  }
}

/* HOW TO USE SECTION */

.how-to-use-wrapper {
  margin-top: 100px;
  margin-bottom: 50px;
  overflow: hidden;
}

.htw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.htw-text {
  max-width: 450px;
  margin-bottom: 20px;
}
.htw-text h1 {
  font-size: 50px;
  line-height: 50px;
}
.htw-text p {
  margin-top: 10px;
  font-size: 20px;
}
.htw-one {
  /* border: 1px solid red; */
  height: 750px;
  overflow: visible !important;
  background-image: url("../images/bg2.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: 150% 50%; */
  background-position: 115% 50%;
  padding-right: 10px;
  margin-right: -10px;
}

.htwo-image {
  position: absolute;
  left: 180px;
  margin-top: 190px;
  z-index: -1;
}

.htw-two {
  height: 450px;
}
.htw-two .htw-text {
  /* right: 0; */
  margin-left: 45vw;
  min-width: 450px;
}
.htwt-image {
  position: absolute;
  left: 100px;
  margin-top: 60px;
  z-index: 3;
}
.htwt-image img {
  width: 700px;
}

@media screen and (max-width: 1700px) {
  .htwo-image {
    right: -0px;
  }
  .htw-one {
    background-size: 70%;
  }
}
@media screen and (max-width: 1340px) {
  .htwo-image {
    right: -160px;
  }
  .htw-two .htw-text {
    margin-left: 38vw;
    min-width: 350px;
  }
  .htwt-image {
    left: 60px;
  }
  .htwt-image img {
    width: 450px;
  }
}

/* tablet */
@media screen and (max-width: 1045px) {
  .htw-text {
    max-width: 350px;
  }
  .htw-text h1 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 5px;
  }
  .htw-two .htw-text {
    margin-right: 0px;
  }
  .htwo-image {
    right: -180px;
  }
  .htwo-image img {
    width: 700px;
  }
  .htwt-image img {
    width: 350px;
  }
  .how-to-use-wrapper {
    margin-top: 60px;
  }
  .htw-one {
    height: 550px;
  }
  .htw-two {
    margin-top: 0px;
  }
}
/* phone */
@media screen and (max-width: 930px) {
  .htw-text {
    width: max-content;
  }
  .htw-two {
    display: flex;
    height: max-content;
  }
  .htwt-image {
    position: static;
    left: 0px;
  }
  .htwt-image img {
    width: 350px;
  }
  .htw-two .htw-text {
    margin-left: 0vw;
    min-width: 0px;
  }
  .htw-text h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .htw-text p {
    font-size: 16px;
  }
  .htw-one {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .htw-one {
    height: 500px;
    background-size: contain;
    background-position: 50% 0%;
  }
  .htwo-image {
    position: static;
    margin-left: 60%;
  }
  .how-to-use-wrapper {
    margin-top: 290px;
  }
  .htw-one .htw-text {
    margin-top: 230px;
  }

  .htw-text {
    text-align: center;
  }

  .htw-two {
    flex-direction: column;
    margin-top: -90px;
  }

  .htwo-image img {
    width: 600px;
  }
}

/* FEATURES */

.features {
  background: linear-gradient(rgba(18, 18, 18, 0.85), rgba(26, 25, 25, 0.85)),
    url(../images/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 175px 0px;
  position: relative;
}
.content-header {
  color: white;
  text-align: center;
}
.features h1 {
  font-size: 42px;
}
.features p {
  font-size: 20px;
}

.features .content-main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  gap: 10px;
  margin-top: 60px;
}
.features .content-main img {
  transform: scale(0.8);
}
.features .content-main .card {
  height: auto;
  padding: 20px 20px 30px;
  border-radius: 15px;
  width: 230px;
  background-color: #eb5757;
  color: white;
  font-size: 18px;
}
.content-main .card p {
  margin-top: 10px;
  line-height: 25px;
}
@media screen and (max-width: 930px) {
  .features .content-main .card {
    width: 50%;
  }
}
@media screen and (max-width: 630px) {
  .features .content-main .card {
    width: 100%;
    min-width: 180px;
  }
}

.features-banner {
  padding: 125px 0;
}
.features-banner .content {
  color: #000000;
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}
.features-banner h1 {
  font-size: 42px;
}
.features-banner p {
  font-size: 20px;
}
.features-banner .image {
  display: flex;
  justify-content: center;
}
.features-banner .image img {
  width: 70vw;
  min-width: 300px;
  max-width: 700px;
}

/* LAUNCH DATE */
.launch-date {
  padding: 100px 0;
  background: linear-gradient(
      rgba(253, 253, 253, 0.96),
      rgba(237, 235, 235, 0.85)
    ),
    url(../images/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 1243px; */
}

.launch-date .launch-date-wrapper {
  margin: auto;
}

.launch-date .image {
  display: flex;
  justify-content: center;
  transform: translate(0, -15%);
}

.launch-date-wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.launch-date h1 {
  font-size: 42px;
}
.launch-date p {
  font-size: 20px;
}
.launch-date form {
  width: 350px;
}

.launch-date-wrapper .content .countdown {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 50px;
  text-align: center;
}

.launch-date-wrapper .content .countdown .time-card {
  width: 10vw;
  height: 10vw;

  max-width: 90px;
  max-height: 90px;

  min-width: 45px;
  min-height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 90px;
  height: 90px; */
  background: #ffffff;
  border: 1px solid #7299ff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  /* padding: 20px; */
  margin-bottom: 10px;
}

.launch-date-wrapper .countdown h1 {
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}

.launch-date-wrapper .content .countdown span {
  color: #000000;
}

.footer {
  background: #2e2e2e;
  height: 67px;
  display: flex;
}

.footer .footer-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-wrapper .copyright span {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #616161;
}

@media screen and (max-width: 414px) {
  .footer-wrapper .copyright span {
    font-size: 16px;
  }
}

/* TYPOGRAPHY SCALING */
@media screen and (max-width: 930px) {
  .features-banner h1,
  .features h1,
  .launch-date h1,
  .launch-date-wrapper .countdown h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 5px;
  }

  .features-banner p,
  .features p,
  .launch-date p,
  .launch-date-wrapper .countdown p {
    font-size: 16px;
  }

  .features-banner {
    padding: 100px 0px;
  }
  .launch-date-wrapper .content .countdown {
    gap: 20px;
  }
}
